# Domains
ADMIN_DOMAIN=admin.domain.tld
API_DOMAIN=api.domain.tld

# Container images
BACKEND_IMAGE=ghcr.io/akbarbiinazar/fibe-backend:latest
ADMIN_IMAGE=ghcr.io/akbarbiinazar/fibe-admin:latest

# App runtime
NODE_ENV=production
MODE=PROD
PORT=3001
CORS_ORIGINS=https://admin.domain.tld

# PostgreSQL (system service)
POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432
POSTGRES_USER=fibe_user
POSTGRES_PASSWORD=change_me
POSTGRES_DATABASE=fibe_db
POSTGRES_SSL=false

# Secrets
JWT_SECRET=change_me
JWT_REFRESH_SECRET=change_me
CLOUDINARY_NAME=change_me
CLOUDINARY_KEY=change_me
CLOUDINARY_SECRET=change_me
